DATABASE_URL="postgresql://username:password@localhost:5432/database_name"
DIRECT_URL="postgresql://username:password@localhost:5432/database_name"
PORT=5000
NODE_ENV="environment"
JWT_SECRET_KEY="your_super_secret_random_string_here"
EXPIRY_DAY="7d"
CLIENT_URL="http://localhost:3000"
COOKIE_DOMAIN=